
#tabs a.selected {
	background-color: white;
	color: gray;
	border: 1px solid black;
}



/*******************
 Piki Related
********************/

.image_div {
	margin-left: 300px;
}
canvas {
	border: 1px solid blue;
	z-index: 1;
}
.overlay {
	position: absolute;
	top:0;
	left:0;
}
#mouseover_image {
	z-index: 50;
}
.drawable {
	z-index: 51;
}
.drawable:active {
	cursor: crosshair;
}
.tooltip {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	z-index: 100;
}
