* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
.loading {
    background-image: url('../images/ajaxLoader.gif');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 300px;
    width: 300px;
}
.loadingImage {
	visibility: collapse;
}
/*******************
		Header
*******************/
header {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
	border-bottom: 1px solid black;
}

header input[type=search] {
	width: 300px;
}

/*******************
		Main
*******************/
main {
	margin: 0 auto;
	width:800px;
}
main > div {
	display: table;
	margin: 0 auto;
	border: 1px solid black;
}

/*Breadcrumbs*/
nav#breadcrumbs {
	margin-bottom: 20px;
}
nav#breadcrumbs a {
	margin-left: 5px;
	border: 1px solid red;
}

/*******************
		Tabs
*******************/
nav#tabs a {
	border-radius: 5px 5px 0 0;
	background-color: #999;
	color: white;
	padding: 5px 10px;
}
nav#tabs a:hover {
	border-radius: 5px 5px 0 0;
	background-color: #555;
	color: white;
	padding: 5px 10px;
}
#tabs a.selected {
	background-color: orange;
	color: gray;
}
/*******************
		Table
*******************/

table.piki {
	border: 1px solid red;
}
table.piki tr td {
	position: relative;
	vertical-align: top;
}
td#sidebar {
	padding:0 20px;
	min-width: 400px;
}
menu#controls  {
	border: 1px solid blue;
}
menu#controls ul {
	list-style: none;
}
menu#controls  ul li {
	display: inline;
	margin-left: 10px;
}

.fancybox_wrapper {
	display: none;
}
