
<!-- Old Tabs
<nav id="tabs">
	<a href="#/view/{{model.pikiId}}/{{$index}}" ng-class='{selected: $index == model.tabId}' ng-repeat="tab_item in piki_data.tabs" data-tab-id="$index" tab>{{tab_item.name}}</a>
</nav>-->

<!-- Tab Navigation -->

<nav id='tabs'>
	<a href='#/view/{{model.state}}?pikiId=1&tabID={{tab.id}}'
		ng-repeat='tab in tabData'
		category-tab='{{tab.id}}'
		ng-class='{selected: tab.id == model.tabId}'>
			Tab {{ ($index + 1) + ": " + tab.name }}
	</a>
</nav>
<!-- Main Piki Table -->
<table class="piki">
	<tr>
		<!-- Piki Image -->
		<td id="piki_td" >
			<div class="loading">
				<img src="{{  piki_data.imagePath + piki_data.name + '.' + piki_data.imageType}} " id="visible_image" class="loadingImage" >
				<div ui-view='imageOverlay'></div>
				<img id="mouseover_image" class="overlay" width="300" height="300" usemap="#Map" piki-image>
			</div>
		</td>
		<!-- Sidebar Controls -->
		<td id="sidebar">

			<menu id="controls">
				<a href="#/view/general?pikiId=1&tabID={{model.tabId}}" ng-click="model.state = 'general'">General</a>
				<a href="#/view/link?pikiId=1&tabID={{model.tabId}}" ng-click="model.state = 'link'">Link</a>

			</menu>
			<div ui-view='sidebarControls'></div>
			<div ng-include="menu_item.link">
			</div>
		</td>
	</tr><!-- controls -->
</table><!-- piki container without tabs-->
