#searchBar {
    font-size: 24px;
    width: 80%;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
header div {
    flex: 1 auto;
}
#header-center {
    flex: 2 auto;
}

